.body-center {
    margin-bottom: 30px;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.board-header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}
.article-board {
    border-top: solid 2px;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.mt-2, .my-2 {
    margin-top: 0.5rem!important;
}
.w-100 {
    width: 100%!important;
}
.d-inline-block {
    display: inline-block!important;
}
#columns .column-div {
    width: 280px;
    margin: 0 auto 15px auto;
    position: relative;
    box-shadow: 0 0 0 2px inset black;
}
.cursor {
    cursor: pointer;
}

#columns .column-div .column-img {
    width: 100%;
    border-style: solid solid none solid;
    border-width: 2px;
    max-height: 720px;
    object-fit: cover;
}
img {
    vertical-align: middle;

}

#columns .column-div figcaption {
    width: 100%;
    padding: 20px;
    display: inline-block;
}
.text-gray {
    color: #999;
}
.noto-sb {
    font-family: 'Noto Sans KR' !important;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.58px;
}
.column-like {
    width: 14px;
}
.mr-1, .mx-1 {
    margin-right: 0.25rem!important;
}
.noto-sb {
    font-family: 'Noto Sans KR' !important;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.58px;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem!important;
}
ml-2, .mx-2 {
    margin-left: 0.5rem!important;
}
.column-like {
    width: 14px;
}
.mr-1, .mx-1 {
    margin-right: 0.25rem!important;
}
.column-mb-15 {
    margin-bottom: 15px;
}
.text-overflow-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


column-lineheight {
    line-height: 22px;
}
.text-overflow-5 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.noto-pr {
    font-family: 'Noto Sans KR' !important;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.58px;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.w-100 {
    width: 100%!important;
}
.text-break {
    word-break: break-word!important;
    overflow-wrap: break-word!important;
}

.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}
#columns .exsi-item > div {
    float: left;
    width: 25%;
}


.user-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}




















