@font-face {
  font-family : 'facon';
  src : url("resources/css/font_facon/Facon.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.text-center{
 	text-align: center!important;
}

 a{
    color: #000 !important;
    text-decoration: none !important;
}

.prompt-h1 {
    font-family: facon;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -1px;
    src: url("/resources/css/font_facon/facon.ttf");
    
}

.board-btn {
    width: 145px;
    line-height: 45px;
}
.background-b-btn {
    border-radius: 4px;
    background: #231916;
    color: #fff;
    border: none;
    transition: ease-in-out 0.2s;
}
.noto-h4 {
    font-family: 'Noto Sans KR' !important;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.75px;
}


.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
    margin-right: 180px;
}

.write-wrapper {
    border: solid 1px;
    position: relative;
    padding: 40px;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
        margin-top: -18px;
}

.sub-title {
    width: 100px;
    font-weight: 700;
    color: #797979;
    
}
.noto-pb {
    font-family: 'Noto Sans KR' !important;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.58px;
    
}
.m-0 {
    margin: 0!important;
}

.noto-pb {
    font-family: 'Noto Sans KR' !important;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.58px;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}

.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.common-oneline-input {
    width: 100%;
    height: 40px;
    border: solid 1px #231916;
    background-color: #ffffff;
    padding-left: 15px;
}
input {
    overflow: visible;
}
.write-bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.board-btn {
    width: 145px;
    line-height: 45px;
}
.border-b-btn {
    border-radius: 4px;
    border: solid 1px #b5b5b5;
    background: #fff;
    color: #000;
    transition: ease-in-out 0.2s;
}
.noto-h4 {
    font-family: 'Noto Sans KR' !important;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.75px;
}
.text-center {
    text-align: center!important;
}
 
.board-btn {
    width: 145px;
    line-height: 45px;
}

.background-b-btn {
    border-radius: 4px;
    background: #231916;
    color: #fff;
    border: none;
    transition: ease-in-out 0.2s;
}
.noto-h4 {
    font-family: 'Noto Sans KR' !important;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.75px;
}
.ml-3, .mx-3 {
    margin-left: 1rem!important;
}


.comment-icon{
	margin-right: 5px;
	width: 20px;
}

.point-color{
	color: #ea533c;
}

.comment-edit-wrapper {
    border-top: 0!important;
    border-bottom: 1px solid #343a40;
    padding: 40px;
}

form {
    display: block;
    margin-top: 0em;
}

.reply-write-box {
    position: relative;
    background: #fff;
    width: 100%;
    height: 171px;
    border-top: 0!important;
}

.reply-write-textarea {
    width: 85%;
    height: 170px;
}


.reply-write-textarea > textarea {
    border: none;
    outline: none;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 170px;
    width: 100%;
    padding: 15px 25px;
    resize: none;
}

.write-btn-right {
    width: 100%;
    height: 47px;
    border-top: solid 1px;
}
.write-btn-right > button {
    width: 100%;
    height: 100%;
    border: none;
    background: #fff;
}
.reply-write-wrapper {
    width: 15%;
    height: 100%;
}
.reply-write-wrapper .preview-wrapper {
    height: calc(100% - 47px);
}
.p-3 {
    padding: 1rem!important;
}
.reply-write-btn {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 15%;
}


.viewer-right {
    width: 40%;
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}



a {
    color: #000 !important;
    text-decoration: none !important;
}


.board-btn {
    width: 145px;
    line-height: 45px;
}
.border-b-btn {
    border-radius: 4px;
    border: solid 1px #b5b5b5;
    background: #fff;
    color: black;
    transition: ease-in-out 0.2s;
}
.noto-h4 {
    font-family: 'Noto Sans KR' !important;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.75px;
}



























 