<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.pi.products.CartMapper">
	<insert id="cartInsert">
		INSERT INTO CART (
		CART_NO , CART_ITEM_NO , CART_MEM_NO
		)VALUES(
		(SELECT NVL(MAX(CART_NO), 0) + 1 FROM CART) , #{cart_item_no} , ${cart_mem_no}
		)
	</insert>	
</mapper>