<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.pi.products.ProductsMapper">
	<select id="getProducts" resultType="com.fp.pi.products.Product">
		select * from products
	</select>
	
	<!-- <insert id="regProducts" parameterType="com.fp.pi.products.Product">
		insert into products values(products_seq.nextval, #{p_name}, #{p_type}, #{p_price}, #{p_img}, #{p_cnt})
	</insert> -->
</mapper>