<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.pi.products.ProductsMapper">

	<select id="getProducts" parameterType="com.fp.pi.products.ProductSort" resultType="com.fp.pi.products.Product">
		select * from (select rownum as rn,p_no,p_name,p_type,p_price,p_img,p_info,p_cnt from products where p_type = #{p_type}) where rn &gt;= #{start} and rn &lt;= #{end}
	</select>
	
	<select id="getProductSort" parameterType="com.fp.pi.products.ProductSort" resultType="com.fp.pi.products.Product">
		select * from (select rownum as rn, products.* from 
		(select * from products where p_type = #{p_type} ORDER BY ${p_sort} ${order})products) 
		where rn &gt;= #{start} and rn &lt;= #{end}
	</select>
	
	<select id="getProduct" parameterType="com.fp.pi.products.Product" 
	resultType="com.fp.pi.products.Product">
		select * from products where p_no = #{p_no}
	</select>
	
	<select id="getproductcount" parameterType="java.lang.String" resultType="int">
 		select count(*) from products where p_type = #{type}
	</select>
	
	<update id="increaseBuyCount" parameterType="com.fp.pi.products.Product">
		update products set p_cnt = p_cnt + #{p_cnt} where p_no = #{p_no} 
	</update>
	
	<insert id="regProduct" parameterType="com.fp.pi.products.Product">
		insert into products values(products_seq.nextval, #{p_name}, #{p_type}, #{p_price}, #{p_img}, #{p_info}, 0)
	</insert>
	
	<delete id="delProduct" parameterType="java.lang.String">
		delete from products where p_no = #{p_no}
	</delete>
	
	<update id="updateProduct" parameterType="com.fp.pi.products.Product">
		update products set p_name = #{p_name}, p_price = #{p_price}, p_img = #{p_img}, p_type = #{p_type}, p_info = #{p_info} where p_no = #{p_no}
	</update>
</mapper>