<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fp.pi.tips.TipsMapper">

<select id="reviews" resultType="com.fp.pi.tips.community_review">

select * from community_review order by cr_date desc


</select>

<select id="getDetail" resultType="com.fp.pi.tips.community_review">

select * from community_review where cr_no = #{cr_no}


</select>


<select id="getMsgCount" resultType="com.fp.pi.tips.community_review" parameterType="Selector">
select * from (select rownum as rn, cr_no, cr_title, cr_content, cr_like, cr_views, 
cr_tips, cr_bodyProfile, cr_productReview, cr_email, cr_nickname, cr_date from 

			(select * from community_review	order by cr_date desc)	)
			where rn &gt;= #{start} and rn &lt;= #{end}


</select>


<insert id="writeCon" parameterType="com.fp.pi.tips.community_review">

insert into community_review values(community_review_seq.nextval, #{cr_title}, #{cr_content}, 0, 0, #{cr_tips}, #{cr_bodyProfile}, #{cr_productReview},#{cr_email},#{cr_nickname}, sysdate)
 


</insert>

<delete id="delete" parameterType="com.fp.pi.tips.community_review">

delete from community_review where cr_no = #{cr_no}


</delete>



<update id="update" parameterType="com.fp.pi.tips.community_review">
update community_review set cr_content = #{cr_content}, cr_title = #{cr_title} where cr_no = #{cr_no}



</update>


<select id="getmsgcount" resultType="int">
 select count(*) from community_review
</select>


<!-- 댓글 조회 -->
<select id="replys" resultType="com.fp.pi.tips.community_review_reply" parameterType="com.fp.pi.tips.community_review_reply">

select * from community_review_reply  where crr_cr_no = #{crr_cr_no} order by crr_date desc
</select>



<!-- 댓글 등록 -->
<insert id="getReply" parameterType="com.fp.pi.tips.community_review_reply">

insert into community_review_reply values(community_review_reply_seq.nextval, #{crr_cr_no}, #{crr_text}, #{crr_cr_nickname}, sysdate)
</insert>

<!-- 댓글 삭제  -->
<delete id="delReply" parameterType="com.fp.pi.tips.community_review_reply">

delete from community_review_reply where crr_no = #{crr_no}

</delete>



</mapper>