@charset "UTF-8";

.product_div{
	float: left;
	height: 320px;
	width: 264px;
}

#products_select_div{
	margin-top : 50px;
	margin-bottom: 50px;
}

#p_main_sort{
	float: right;
}

#product_img_div{
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
}

#product_detail_img{
	width: 500px;
	height: 500px;
	margin-left: 100px;
	float: left;
	object-fit: cover;
	
}

#product_detail_div{
	margin-top: 50px;
	width: 1300px;
}

#product_info{
	float: right;
	margin-right: 200px;
	line-height: 40px;
}

#product_selector{
	margin-top: 50px;
	width: 600px;
}

#product_detail_img{
	width: 500px;
}

#product_quantity{
	width: 100px; 
	line-height: 20px;
	margin-bottom: 200px;
}

#product_price_div{
	font-weight: bold;
}

#product_detail_info{
	margin-top: 100px;
	width: 1300px;
}

#kakao_pay_div{
	float: right;
}

#cart_name{
	margin-top: 50px;
	font-weight: bold;	
}

#addCart{
	float: right;
	margin-right: 50px;
}

#product_cart_div{
	height: 100px;
	width: 100%;
	margin-bottom: 20px;
}

#product_cart_img_div{
	height: 100px;
	width: 100px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 100px;
	object-fit: cover;
	float: left;
}

#product_cart_name_div{
	width: 300px;
	float: left;
}

#product_cart_price_div{
	width:300px;
	float: left;
	font-weight: bold;
}

#cart_quantity{
	width: 150px;
}

#cart_quantity_div{
	width: 150px;
	float: left;
	margin-right: 100px;
}

#cartDel{
	height: 50px;
	width: 50px;
	object-fit: cover;
}